<footer>
    <div style="color: antiquewhite; background-color: rgb(12, 21, 71);
    bottom:0;
    width:100%;
    height:60px;
    margin: 0 0;">
        <p>© Copyright 2010</p>
        <p>For any queries contact our helpline number</p>
    </div>
</footer>