<%- include('./partials/header') %>
<div class="container" style="padding: 0; margin: 0;align-items: center;">
  <img src="images/HomeIMG.jpeg" alt="This is a slidshow image" style="text-align: center;width: 100%; margin: 0 auto; padding: 0;">
  <div class="centered">
    <h2 style="    color: #f8f9fa;
    font-family: monospace">Consistency is the key to success</h2>
  </div>
</div>

<div class="container-fluid" style="font-family: Arial, Helvetica, sans-serif;text-align: center; background-color:rgb(6 158 226 / 36%);">
    <div class="card effect" style="padding: 1rem; width: 10rem; background-color: rgba(17, 47, 146, 0.719);">
        <img src="icons/team(2).png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Faculties</p>
        </div>
      </div>
      <div class="card effect" style="padding: 1rem; width: 10rem; background-color: rgba(17, 47, 146, 0.719);">
        <img src="icons/teacher(1).png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Syllabus</p>
        </div>
      </div>
      <div class="card effect" style="padding: 1rem; width: 10rem; background-color: rgba(17, 47, 146, 0.719);">
        <img src="icons/exam(1).png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Exams</p>
        </div>
      </div>
      <div class="card effect" style="padding: 1rem; width: 10rem; background-color: rgba(17, 47, 146, 0.719);">
        <img src="icons/teacher(3).png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Events</p>
        </div>
      </div>
</div>
<div style="text-align: center; background-color: rgb(65 89 121 / 83%);">
    <h3 style="font-size: 2rem;font-family: fantasy;"><strong>Important events</strong></h3>
    <hr>
    <ul style="list-style: none;">
        <li>Exams</li>
        <li>Webminar on IOT</li>
    </ul>
</div>
<div style="text-align: center; background-color: aliceblue;">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil doloribus voluptatum nisi aut sapiente, illo totam veritatis magnam reprehenderit consequatur!</p>
</div>
<%- include('./partials/footer') %>